#footer {
    box-shadow: 0 -5px 10px rgba($color: $gray, $alpha: 0.3);
    border-bottom: 12px solid $orange;
    padding: 3rem 0;
    & .footer-nav {
        & a {
            color: $gray;
            &:hover {
                color: $dark-green;
            }
        }
    }
}