.pagination {
    .page-item {
         padding: .5rem .75rem;
        & .page-link {
            border: 0;
            color: $dark-green;
            padding: 0;
            &:hover {
                background-color: transparent;
                border-bottom: 3px solid $green;
                @include transitionDuration(0.3s);
            }
        }
        &.active {
            & .page-link {
                background-color: transparent;
                border-bottom: 3px solid $green;
            }
        }
    }
    

}